<a href="https://colab.research.google.com/github/IshanGoswami3/Flight-Price-Prediction---Tranning-/blob/main/Notebook_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BASIC INTRODUCTION TO LISTS,TUPLES,DICTIONARY,ITERABLES

In [ ]:
# list can be thought of as an array of elements


li = [] # empty list

# adding some elements in a list using append method

li.append(1)
li.append(2)
li.append(3)

print(li)

[1, 2, 3]

In [ ]:
# We can add elements of different types as well

li.append('batman')
li.append('superman')

print(li)

[1, 2, 3, 'batman', 'superman']

In [ ]:
# To access any element in a list, we simply index it using its position
# Remember indexing starts from 0


# let us fetch the record superman

print(li[4])

superman

In [ ]:
# We can change any entry in the list using the = operator


li[4] = 'aquaman'

print(li)

[1, 2, 3, 'batman', 'aquaman']

In [ ]:
# Tuples - Just like lists tuples also are a collection of data points. But once created we cannot modify them(like add,update)

tu = (1,2,3)
print(tu)

print(hex(id(tu))) # Notice the address here

(1, 2, 3)
0x1a37693e1d8

In [ ]:
tu = tu + (4,) # We can merge tuples but it creates a new one actually internally

In [ ]:
tu

(1, 2, 3, 4)

In [ ]:
hex(id(tu)) # see this is a new address

'0x1a376abf2c8'

In [ ]:
# Set - Collection of elements again. But set only stores unique elements


st = set()
st.add(1)
st.add(1)
st.add(2)
st.add(3)

print(st)

{1, 2, 3}

In [ ]:
# Dictionary stores the elements in a key value pair.

mapper = {}

mapper['dc'] = 'batman'
mapper['marvel'] = 'wolverine'
mapper['starwars'] = 'anakin'


print(mapper)

{'dc': 'batman', 'marvel': 'wolverine', 'starwars': 'anakin'}

In [ ]:
# Looping in the elements

for k,v in mapper.items():
    print(k,v)

dc batman
marvel wolverine
starwars anakin

In [ ]:
# Let's see the keys and values of the mapper

print(mapper.keys())
print(mapper.values())

dict_keys(['dc', 'marvel', 'starwars'])
dict_values(['batman', 'wolverine', 'anakin'])